<div class="container-fluid">
    <div class="container">
      <h2>
        Productos
        <i class="bi bi-bag"></i>
      </h2>
      <div class="actions">
        <button class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#productModal">
          Agregar Producto
          <i class="bi bi-bag-plus-fill"></i>
        </button>
      </div>
    </div>
    <div class="table-responsive">
      <table class="table table-striped table-hover align-middle">
        <caption>Tabla de productos</caption>
        <thead>
          <tr>
            <th>#</th>
            <th>Nombre</th>
            <th>Descripción</th>
            <th>Precio</th>
            <th>Modelo</th>
            <th>Existencia</th>
            <th>Proveedor</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody class="table-group-divider">
          <tr *ngFor="let prod of productList; index as i">
            <td>{{i+1}}</td>
            <td>{{prod.name}}</td>
            <td>{{prod.description}}</td>
            <td>{{prod.price| currency:'$'}}</td>
            <td>{{prod.model}}</td>
            <td>{{prod.existence}}</td>
            <td>{{prod.fkProvider.name}}</td>
            <td>
              <button class="btn btn-outline-warning" 
              style="margin: 5px;" (click)="prepareUpdate(i)"
              data-bs-toggle="modal" data-bs-target="#productModal">
                <i class="bi bi-pencil-fill"></i>
              </button>
              <button class="btn btn-outline-danger" 
              style="margin: 5px;" (click)="deleteProduct(prod.id)">
                <i class="bi bi-trash-fill"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>


  <div class="modal fade" id="productModal" tabindex="-1" aria-labelledby="productModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="prodcutModalLabel">Producto</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form class="row g-3" [formGroup]="formProduct" id="formProd">
            <div class="col-md-6">
              <label for="nameProd" class="form-label">Nombre prodcuto</label>
              <input type="text" minlength="2" class="form-control" formControlName="nameProd" id="nameProd" placeholder="Chocolate">
              <div class="text-danger" *ngIf="formProduct.get('nameProd')?.invalid && formProduct.get('nameProd')?.touched">
                Debe diligenciar este campo
              </div>
            </div>
            <div class="col-6">
              <label for="provider" class="form-label">Proveedor</label>
              <select id="provider" class="form-select" formControlName="provider">
                <option *ngFor="let prov of providerList" value="{{prov.nit}}">{{prov.name}}</option>
              </select>
              <div class="text-danger" *ngIf="formProduct.get('provider')?.invalid && formProduct.get('provider')?.touched">
                Debe diligenciar este campo
              </div>
            </div>
            <div class="col-6">
              <label for="price" class="form-label">Precio</label>
              <input type="number" class="form-control" min="1000" id="price" formControlName="price" placeholder="50000">
              <div class="text-danger" *ngIf="formProduct.get('price')?.invalid && formProduct.get('price')?.touched">
                Debe diligenciar este campo
              </div>
            </div>
            <div class="col-6">
              <label for="amount" class="form-label">Existencia</label>
              <input type="number" class="form-control" id="amount" min="1" formControlName="amount" placeholder="120">
              <div class="text-danger" *ngIf="formProduct.get('amount')?.invalid && formProduct.get('amount')?.touched">
                Debe diligenciar este campo
              </div>
            </div>
            <div class="col-12">
              <label for="model" class="form-label">Modelo</label>
              <input type="text" class="form-control" id="model" min="1" formControlName="model" placeholder="Dulce">
              <div class="text-danger" *ngIf="formProduct.get('model')?.invalid && formProduct.get('model')?.touched">
                Debe diligenciar este campo
              </div>
            </div>
            <div class="col-12">
              <label for="description" class="form-label">Descripción</label>
              <input type="text" minlength="5" class="form-control" id="description" formControlName="description">
              <div class="text-danger" *ngIf="formProduct.get('description')?.invalid && formProduct.get('description')?.touched">
                Debe diligenciar este campo
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="submit" form="formProd" [hidden]="update == true" class="btn btn-primary" (click)="createProd()">Crear</button>
          <button type="submit" form="formProd" [hidden]="update == false" class="btn btn-primary" (click)="updateProduct()">Actualizar</button>
        </div>
      </div>
    </div>
  </div>