.container{
    width: 100%;
    /* background-color: bisque; */
    text-align: center;
    display: flex;
    flex-flow: column;
    margin-bottom: 10px;
    margin-top: 10px;
}
.actions{
    width: 100%;
    display: flex;
    justify-content: end;
}